.header {
    height: 230px;
    width: 696px;
    background-color: rgba(217, 217, 217, 1);
    box-sizing: border-box;
}

.header__title {
    font-size: 12px;
    margin: 73px 0 12px 50px;
}

.header__input {
    height: 26px;
    width: 168px;    
    box-sizing: border-box;
    margin: 0 95px 0 50px;
}

.header__button {
    height: 26px;
    width: 37px;
    box-sizing: border-box;
}

.header__value {
    height: 26px;
    width: 37px;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0 13px 0 13px;
}

.header__fields {
    display: flex;
    align-items: center;
}